* {
	box-sizing: border-box;
	/* border: solid 2px; */
}

html {
	background-color: #f4f5f7;
	/* border: solid green; */
}

body {
	font-family: "Dancing Script", cursive, "Times New Roman", Times, serif;
	color: #4a4a4c;
	font-weight: bold;
}

header, main, .intro, .projects, footer {
	max-width: 100%;
}

.logo {
	margin-left: 3vw;
	float: left;
}

svg path {
	fill: #02b3e4;
}

.name {
	text-align: right;
	margin-right: 10%;
	font-size: 40px;
}

.intro {
	display: flex;
	border: solid 2px #898c90;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 4 #4195fc;
	-moz-box-shadow: 0 0 4 #4195fc;
	box-shadow: 0 0 400px grey;
}

.skillsTitle {
	font-size: 35px;
	margin-top: 15px;
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: flex;
	font-size: 20px;
	margin-left: -30%;
	margin-bottom: 20px;
}

i {
	font-size: 25px !important;
}

.lang {
	margin-left: 15px;
}

a {
	color: #4a4a4c;
	text-decoration: none;
}

a:hover {
	color: #ea3242;
}

.mainPicture {
	margin-top: 2vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	position: relative;
}

.mainPic {
	width: 100%;
	max-width: 100%;
	border: solid 2px #898c90;
	border-radius: 20px;
	box-shadow: 5px 5px 5px grey;
}

.slogan {
	position: absolute;
	top: -20px;
	right: 10px;
	font: bold 27px "Pinyon Script", cursive, "Times New Roman", Times, serif;
}

.projectsTitle {
	text-align: center;
	font-size: 36px;
}

.projects {
	display: flex;
}

.project {
	width: 33%;
	background: linear-gradient(-90deg, #959597, #f4f5f7);
	margin: 0 10px 20px;
	border: solid #878787 1px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectPic {
	margin: 15px 15px 0;
}

.projPic {
	width: 100%;
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	border: solid 1px #c8c9cb;
	border-radius: 15px;
}

.descr {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	color: #3f3f40;
}

.view {
	margin-top: -10px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
}

footer {
	font-size: 24px;
	text-align: center;
}

.udacity {
	color: #ea3242;
}

@media screen and (min-width: 900px) {
	header, main, .intro, .projects, footer {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 890px) {
	.skillsTitle {
		font-size: 25px;
	}

	i {
		font-size: 20px !important;
	}

	.lang {
		font-size: 18px;
	}

	.slogan {
		top: -15px;
		right: 15px;
		font-size: 24px;
	}
}

@media screen and (max-width: 870px) {
	.descr {
		font-size: 2vw;
	}
}

@media screen and (max-width: 820px) {
	.slogan {
		position: relative;
		top: -7%;
		margin-bottom: -6%;
		font-size: 3.5vw;
		text-align: right;
	}
}

@media screen and (max-width: 750px) {
	.descr {
		font-size: 3vw;
	}

	.projectsTitle {
		font-size: 5vw;
	}

	.projects {
		flex-wrap: wrap;
	}

	.project {
		margin-left: 1vw;
		margin-right: 0;
	}

	.pro1, .pro2 {
		width: 48%;
	}

	.pro3 {
		width: 100%;
		margin-right: 2vw;
	}
}

@media screen and (max-width: 600px) {
	.intro {
		display: block;
	}

	.skillsTitle {
		margin-top: 1vw;
		font-size: 6vw;
	}

	.skillsList {
		margin-top: -2vw;
		margin-bottom: 0;
		padding-left: 3vw;
		padding-right: 0;
		text-align: center;
	}

	li {
		display: inline;
		font-size: 12px;
		margin-left: 0;
		margin-right: 4vw;
	}

	i {
		font-size: 3vw !important;
	}

	.lang {
		margin-left: 1.3vw;
		font-size: 3vw;
	}

	.mainPicture {
		margin-left: 2vw;
	}

	.slogan {
		margin-top: 1vw;
		margin-bottom: -1vw;
	}

	.project {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	footer {
		font-size: 4vw;
	}
}

@media screen and (max-width: 550px) {
	.name {
		font-size: 35px;
	}

	svg {
		width: 45px;
		height: 45px;
	}
}
